@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #fff;
  color: #14171f;
  font-family: "Inter", sans-serif;
}

.c-wrapper {
  padding-left: 72px;
  padding-right: 72px;
}

.c-indigo {
  color: #080056;
}

.bg-cblue-100 {
  background-color: #f6f8f9;
}

.c-shadow {
  box-shadow: 0px 1px 100px 30px rgba(46, 41, 78, 0.02),
    0px 8px 12px rgba(46, 41, 78, 0.08);
}

.bg-razzmataz-pry {
  background-color: #fe4d3c;
}

.text-razzmataz-pry {
  color: #fe4d3c;
}

.sub-titles-1 {
  font-weight: bold !important;
  font-size: 18px !important;
  line-height: 27px !important;
}

h1 {
  font-weight: 600 !important;
  font-size: 40px !important;
  line-height: 56px !important;
}

h2 {
  font-weight: 700 !important;
  font-size: 32px !important;
  line-height: 45px !important;
}

h3 {
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 34px !important;
}

h4 {
  font-weight: bold !important;
  font-size: 20px !important;
  line-height: 28px !important;
}

p {
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
}

@media screen and (max-width: 1080px) {
  .c-wrapper {
    padding-left: 70px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .c-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 768px) {
  .c-wrapper {
    padding-left: 36px;
    padding-right: 36px;
  }
  h1 {
    font-size: 24px !important;
    line-height: 34px !important;
    font-weight: 700 !important;
  }
  h2 {
    font-size: 20px !important;
    line-height: 28px !important;
  }
  h4 {
    font-size: 14px !important;
    line-height: 21px !important;
  }
}
